<div class="container">
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button color="primary" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="spacer"></span>
      <mat-slide-toggle (change)="togglePhones($event.checked)">Показать номера</mat-slide-toggle>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="padding-container">
    <div class="table-wrapper">
      <table *ngIf="!showNumbers">
        <thead>
          <tr>
            <th *ngFor="let day of days" colspan="3">{{day}}</th>
          </tr>
          <tr>
            <ng-container *ngFor="let day of days">
              <th>№</th>
              <th>Фамилия</th>
              <th>Имя</th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th *ngFor="let day of days" colspan="3">парни</th>
          </tr>
          <tr *ngFor="let row of boys; let i = index">
            <ng-container *ngFor="let boy of row">
              <td>{{i + 1}}</td>
              <td>{{boy.surname}}</td>
              <td>{{boy.name}}</td>
            </ng-container>
          </tr>
          <tr>
            <th *ngFor="let day of days" colspan="3">девушки</th>
          </tr>
          <tr *ngFor="let row of girls; let i = index">
            <ng-container *ngFor="let girl of row">
              <td>{{i + 1}}</td>
              <td>{{girl.surname}}</td>
              <td>{{girl.name}}</td>
            </ng-container>
          </tr>
        </tbody>
      </table>
      <table *ngIf="showNumbers">
        <thead>
          <tr>
            <th *ngFor="let day of days" colspan="5">{{day}}</th>
          </tr>
          <tr>
            <ng-container *ngFor="let day of days">
              <th>№</th>
              <th>Фамилия</th>
              <th>Имя</th>
              <th colspan="2">Телефон</th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th *ngFor="let day of days" colspan="5">парни</th>
          </tr>
          <tr *ngFor="let row of boys; let i = index">
            <ng-container *ngFor="let boy of row">
              <td>{{i + 1}}</td>
              <td>{{boy.surname}}</td>
              <td>{{boy.name}}</td>
              <td><a href="tel:+{{boy.number}}">{{boy.number}}</a></td>
              <td><a target="_blank " href="https://wa.me/{{boy.number}}"><img src="assets/whatsapp-icon.svg" alt="whatsapp" class="icon"></a></td>
            </ng-container>
          </tr>
          <tr>
            <th *ngFor="let day of days" colspan="5">девушки</th>
          </tr>
          <tr *ngFor="let row of girls; let i = index">
            <ng-container *ngFor="let girl of row">
              <td>{{i + 1}}</td>
              <td>{{girl.surname}}</td>
              <td>{{girl.name}}</td>
              <td><a href="tel:{{girl.number}}">{{girl.number}}</a></td>
              <td><a target="_blank " href="https://wa.me/{{girl.number}}"><img src="assets/whatsapp-icon.svg" alt="whatsapp" class="icon"></a></td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>