$light-green: #d9ead3;
$dark-green: #b6d7a8;

.container {
  font-family: sans-serif;
  font-size: 0.8rem;

  .padding-container {
    padding: 16px;
  }

  .table-wrapper {
    overflow-x: auto;
  }

  td, th {
    border: 1px solid;
    white-space: nowrap;
    padding: 4px;
  }

  .day-1, .day-3,
  .day-5, .day-7 {
    background-color: $dark-green;
  }

  .day-2, .day-4, .day-6 {
    background-color: $light-green;
  }

  table {
    border-collapse: collapse;
    margin: 0 auto;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .icon {
    width: 16px;
    height: 16px;
  }

  @media print {
    mat-toolbar {
      display: none;
    }

    .table-wrapper {
      overflow-x: initial;
    }
  }
}