@import "../app.component.scss";

.day-container {
  height: 100vh;

  .links-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .active {
      color: mat-color($accent);
    }
  }

  .gender-wrapper,
  .days-wrapper {
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
  }

  .content {
    display: flex;
  }

  .available-list-wrapper,
  .active-list-wrapper {
    flex: 1;
    height: calc(100vh - 100px);
    overflow-y: auto;
  }
}
