<div class="day-container">
  <div class="links-list">
    <div class="gender-wrapper">
      <mat-button-toggle-group>
        <mat-button-toggle
          [routerLink]="['/day', 1, currentday]"
          routerLinkActive="active"
          [disabled]="currentgender === 1">
          Парни
        </mat-button-toggle>
        <mat-button-toggle
          [routerLink]="['/day', 2, currentday]"
          routerLinkActive="active"
          [disabled]="currentgender === 2">
          Девушки
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="days-wrapper">
      <mat-button-toggle-group style="overflow: auto;">
          <mat-button-toggle
            [routerLink]="['..', day.id]"
            [disabled]="day.checked"
            routerLinkActive="active"
            [value]="day.id"
            [id]="day.id"
            *ngFor="let day of days">
            {{day.day}}
          </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div class="content">
    <div class="available-list-wrapper">
      <app-available-list
        [volunteers]="availableList"
        [daymask]="daymask"
        (toggleVolunteer)="onToggleVolunteer($event)"></app-available-list>
    </div>
    <div class="active-list-wrapper">
      <app-active-list
        (removeItem)="onRemoveItem($event)"
        [volunteers]="activeList"></app-active-list>
    </div>
  </div>
</div>