<div class="day-container">
  <div class="generate-table-button" *ngIf="!unprocessed">
    <button mat-fab routerLink="/table" matTooltip="Сгенерировать таблицу">
        <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
  <div class="links-list">
    <div class="gender-wrapper">
      <mat-button-toggle-group>
        <mat-button-toggle
          [routerLink]="['/day', 1, currentday]"
          routerLinkActive="active"
          [checked]="currentgender === 1"
          [disabled]="currentgender === 1">
          Парни
        </mat-button-toggle>
        <mat-button-toggle
          [routerLink]="['/day', 2, currentday]"
          routerLinkActive="active"
          [checked]="currentgender === 2"
          [disabled]="currentgender === 2">
          Девушки
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="days-wrapper">
      <mat-button-toggle-group style="overflow: auto;">
          <mat-button-toggle
            [routerLink]="['..', day.id]"
            [disabled]="day.checked"
            routerLinkActive="active"
            *ngFor="let day of days">
            {{day.day}}
          </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div class="process-button-container">
      <button
        mat-raised-button
        color="primary"
        routerLink="/conf"
        [queryParams]="{day: currentday, gender: currentgender}">
        Редактировать список
      </button>
    <button
      mat-raised-button
      color="primary"
      (click)="process()"
      *ngIf="unprocessed">
      Распределить
    </button>
    <button
      mat-raised-button
      color="warn"
      (click)="reset()"
      *ngIf="!unprocessed">
      Сбросить
    </button>
  </div>
  <div class="content">
    <div class="available-list-wrapper">
      <app-available-list
        [volunteers]="availableList"
        [daymask]="daymask"
        (toggleVolunteer)="onToggleVolunteer($event)"></app-available-list>
    </div>
    <div class="active-list-wrapper">
      <app-active-list
        (removeItem)="onRemoveItem($event)"
        [volunteers]="activeList"></app-active-list>
    </div>
  </div>
</div>