<div class="container">
  <form #confForm="ngForm" (ngSubmit)="handleSubmit()" class="conf-form" *ngIf="!showList">
    <div class="entry-wrapper">
      <mat-form-field>
        <input matInput placeholder="ID документа" required name="id" [(ngModel)]="model.id">
        <mat-hint>Из URL'а докмента</mat-hint>
      </mat-form-field>
    </div>
    <div class="entry-wrapper">
      <mat-form-field>
        <input matInput placeholder="Название листа" [(ngModel)]="model.sheet" name="sheet">
        <mat-hint>По умолчанию первый лист</mat-hint>
      </mat-form-field>
    </div>
    <div class="entry-wrapper">
      <mat-form-field>
        <input matInput placeholder="Диапазон клеток" required [(ngModel)]="model.range" name="range">
        <mat-hint>В формате A1:Z9</mat-hint>
      </mat-form-field>
    </div>
    <div class="entry-wrapper">
      <button mat-raised-button color="primary" type="submit" [disabled]="!confForm.valid">Импортировать</button>
    </div>
  </form>
  <div *ngIf="showList" class="list-wrapper">
    <div class="query-search">
      <mat-form-field class="example-full-width">
        <input #searchInput matInput placeholder="найти по имени или фамилии" (input)="handleSearch(searchInput.value)">
      </mat-form-field>
    </div>
    <div class="list">
      <mat-list>
        <mat-list-item *ngFor="let volunteer of list">
          <button mat-icon-button color="warn" (click)="handleRemove(volunteer.id)">
            <mat-icon>clear</mat-icon>
          </button>
          <mat-radio-group [(ngModel)]="volunteer.gender">
            <mat-radio-button [value]="1" style="margin-right: 16px;">М</mat-radio-button>
            <mat-radio-button [value]="2">Ж</mat-radio-button>
          </mat-radio-group>
          <span class="name">{{volunteer.surname}} {{volunteer.name}}</span>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="back-button" *ngIf="prevPage">
      <button mat-icon-button color="primary" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div class="forward-button" *ngIf="!prevPage">
      <button mat-icon-button color="primary" (click)="handleSave()">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
    <div class="refresh-list-button">
      <button mat-fab matTooltip="загрузить новый список" (click)="refreshList()">
        <mat-icon>
          refresh
        </mat-icon>
      </button>
    </div>
  </div>
</div>